<footer class="footer footer__sponsor">
    <p class="footer__sponsor-title">I definitely appreciate any donation in case you consider supporting me!</p>
    <script type="text/javascript" 
        src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" 
        data-name="bmc-button" 
        data-slug="otbivnoe" 
        data-color="#d12929" 
        data-emoji=""  
        data-font="Cookie" 
        data-text="Buy me a coffee" 
        data-outline-color="#ffffff" 
        data-font-color="#ffffff" 
        data-coffee-color="#FFDD00" >
    </script>
</footer>