$red-color: #d12929;

$content-background-color--light: white;
$content-background-color--dark: #141414;

// Sidebar

$sidebar-background--light: #f4f4f4;
$sidebar-background--dark: #494949;

$sidebar-name--light: black;
$sidebar-name--dark: white;

$sidebar-description--light: #898989;
$sidebar-description--dark: #bcbcbc;

$sidebar-nav-item--light: black;
$sidebar-nav-item--dark: #bdbdbd;

// Main

$article-background--light: white;
$article-background--dark: #222222;

$article-shadow--light: rgba(0, 0, 0, 0.09);
$article-shadow-hover--light: rgba(0, 0, 0, 0.13);

$article-date--light: black;
$article-date--dark: #bcbcbc;

$article-title--light: black;
$article-title--dark: white;

$article-description--light: #4d4d4d;
$article-description--dark: #bdbdbd;

// Single post

$post-logo-background--light: #f4f4f4;
$post-logo-background--dark: #afb0b1;

$post-header--light: black;
$post-header--dark: white;

$post-text--light: #4d4d4d;
$post-text--dark: #bdbdbd;

$post-code--light: #4d4d4d;
$post-code--dark: #de6b18;

$post-code-background--light: #f8f8f8;
$post-code-background--dark: #272822;

// Footer

$footer-background--light: #f5f5f5;
$footer-background--dark: #222222;

$footer-readaggregator-title--light: black;
$footer-readaggregator-title--dark: white;

$footer-readaggregator-subtitle--light: #4d4d4d;
$footer-readaggregator-subtitle--dark: #bdbdbd;

$footer-sponsor-title--light: black;
$footer-sponsor-title--dark: white;

// Badge

$badge-title--light: black;
$badge-title--dark: white;
