---
---

@import "colors";

.post-logo {
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: $post-logo-background--light;
}

.post-date {
  margin-right: 25px;
}

.post-first-line-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 10px;
  height: 30px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 35px;
}

.post-img {
  border-radius: 5px;
  background-color: $post-logo-background--light;
  width: auto;
  height: auto;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 1.7rem;
  margin-bottom: 0.2rem;
}

table.text th,
table.text td {
  padding: 5px;
  border-top: 1px solid #cccccc;
  vertical-align: top;
}

p > code, 
ul > code,
li > code {
  background: $post-code-background--light;
  color: $post-code--light;
  font-family: inherit;
}

.highlight {
  overflow: auto;
}

.highlight table td {
  padding: 5px;
}

div .highlight {
  padding-left: 10px;
  padding-right: 10px;
}

.highlight table pre {
  margin: 0;
}

blockquote {
  margin-left: 18px;
  margin-block-end: 0px;
  margin-inline-end: 0px;
}

@media (prefers-color-scheme: dark) {
  p > code,
  em > code,
  ul > code,
  li > code {
    background: $post-code-background--dark;
    color: $post-code--dark;
  }

  .post-logo {
    background-color: $post-logo-background--dark;
  }

  .post-img {
    background-color: $post-logo-background--dark;
  }
}
