---
---

@import "colors";

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {
  margin: 0;
  background-color: $content-background-color--light;
  font-family: "Montserrat", sans-serif;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background: $sidebar-background--light;
}

.sidebar__background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* Sidebar Personal Info */

.sidebar__personal-info {
  position: relative;
  top: 60px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
}

.sidebar__name {
  margin-top: 32px;
  margin-bottom: 0;
  color: $sidebar-name--light;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.sidebar__description {
  margin-top: 12px;
  color: $sidebar-description--light;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3rem;
}

/* Sidebar Navigation */

.sidebar__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidebar__nav--mobile {
  display: none;
  margin-bottom: 22px;
}

.sidebar__nav-item {
  display: block;
  color: $sidebar-nav-item--light;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-decoration: none;
}

.sidebar__nav-item + .sidebar__nav-item {
  margin-top: 2rem;
}

.sidebar__nav-item:hover,
.sidebar__nav-item:focus {
  color: $red-color;
  text-decoration: none;
}

.sidebar__nav-item.selected {
  color: $red-color;
  font-weight: 400;
}

/* Sidebar Social */

.sidebar__social-container {
  position: absolute;
  bottom: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.sidebar__social-item {
  width: 24px;
  height: 24px;
}

.sidebar__social-item + .sidebar__social-item {
  padding-left: 16px;
}

.sidebar__social-item:hover {
  opacity: 0.8;
}

.sidebar__social-item img {
  max-width: 100%;
  max-height: 100%;
}

/* Main */

.main {
  overflow: hidden;
  margin-left: 400px;
}

.main__content {
  max-width: 1000px;
  padding-right: 20%;
  padding-left: 20%;
  margin-right: auto;
  margin-left: auto;
}

.main__logo {
  width: 308px;
  height: 85px;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: -15px;
}

.main__avatar-container {
  display: none;
}

.copyright {
  position: relative;
  margin-top: 50px;
  font-size: 0.8rem;
  opacity: 0.7;
  text-align: center;
}

/* Article */

.article {
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  background: $article-background--light;
  border-radius: 20px;
  box-shadow: 0 4px 15px $article-shadow--light;
}

.article:hover {
  box-shadow: 0 4px 15px $article-shadow-hover--light;
}

.article:hover .article-title {
  color: $red-color;
}

.article + .article {
  margin-top: 20px;
}

.article-date {
  margin: 0;
  color: $article-date--light;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 0.875rem;
}

.article-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: $article-title--light;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.article-description {
  display: -webkit-box;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  color: $article-description--light;
  font-size: 1rem;
  font-weight: 300;
  -webkit-line-clamp: 3;
}

.article-first-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0;
  height: 30px;
}

/* Footer */

.footer {
  text-align: center;
  background: $footer-background--light;
  border-radius: 20px;
}

.footer__readaggregator {
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;  
}

.footer__readaggregator-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: $footer-readaggregator-title--light;
  margin: 0;
}

.footer__readaggregator-subtitle {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: $footer-readaggregator-subtitle--light;
  margin: 12px 0 0 0;
}

.footer__readaggregator-subtitle-hand {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  margin: 16px 0 0 0;
}

.footer__readaggregator-link {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: $red-color;
  margin: 0;
}

.footer__sponsor {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

.footer__sponsor-title {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: $footer-sponsor-title--light;
  margin-bottom: 32px;
  margin-top: 0px;
}

/* Badge */

.badge {
  display: inline;
  padding: 8px 12px;
  border-radius: 20px;
  border: 2px solid $red-color;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.875rem;
  color: $badge-title--light;  
}

/* Resume */

.resume__content {
  max-width: 1000px;
  padding-right: 20%;
  padding-left: 20%;
  margin-right: auto;
  margin-left: auto;
}

.resume__avatar-container {
  display: block;
  margin-top: 32px;
  margin-bottom: 25px;
  text-align: center;
}

.resume__avatar {
  width: 130px;
  height: 130px;
}

/* Media */

@media (max-height: 800px) {
  .sidebar__nav {
    top: 400px;
    width: 100%;
    text-align: center;
  }
}

@media (max-height: 600px) {
  .sidebar__social-container {
    top: 530px;
  }
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }

  .main {
    margin-left: auto;
  }

  .main__content {
    width: 94%;
    max-width: auto;
    padding-right: 3%;
    padding-left: 3%;
  }

  .main__logo {
    display: none;
  }

  .sidebar__nav--mobile {
    display: flex;
    justify-content: center;
  }

  .sidebar__nav-item {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.21875rem;
  }

  .sidebar__nav-item + .sidebar__nav-item {
    margin-top: 0;
    margin-left: 24px;
  }

  .main__avatar-container {
    display: block;
    margin-top: 32px;
    margin-bottom: 25px;
    text-align: center;
  }

  .resume__content {
    width: 94%;
    max-width: auto;
    padding-right: 3%;
    padding-left: 3%;
  }

  .resume__avatar {
    width: 100px;
    height: 100px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $content-background-color--dark;
  }

  .article {
    background: $article-background--dark;
  }

  .article-date {
    color: $article-date--dark;
  }

  .article-description {
    color: $article-description--dark;
  }

  .article-title {
    color: $article-title--dark;
  }

  .sidebar {
    background: $sidebar-background--dark;
  }

  .sidebar__name {
    color: $sidebar-name--dark;
  }

  .sidebar__description {
    color: $sidebar-description--dark;
  }

  .sidebar__nav-item {
    color: $sidebar-nav-item--dark;
  }

  .footer {
    background: $footer-background--dark;
  }

  .footer__readaggregator-title {
    color: $footer-readaggregator-title--dark;
  }
  
  .footer__readaggregator-subtitle {
    color: $footer-readaggregator-subtitle--dark;
  }

  .footer__sponsor-title {
    color: $footer-sponsor-title--dark;
  }

  .badge {
    color: $badge-title--dark;
  }
}
