<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap"
			rel="stylesheet"
        />
        <title>{% if page.title == nil %} {{ site.title }} {% else %} {{ page.title }} {% endif %}</title>
		<link rel="icon" href="assets/img/favicon.ico" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/code-highlight.css" />
        <link rel="stylesheet" href="/assets/css/post.css" />
	</head>

	<body>		
		<aside class="sidebar">	
            <picture>
                <source class="sidebar__background" media="(prefers-color-scheme: dark)" srcset="/assets/img/side-menu/bg-dark.png">
                <img class="sidebar__background" srcset="/assets/img/side-menu/bg.png" alt="Me looking at the sea">
            </picture>

			<div class="sidebar__personal-info">
				<img src="/assets/img/avatar.png" class="avatar" alt="Avatar">
				<p class="sidebar__name">Nikita Ermolenko</p>
				<p class="sidebar__description">iOS Developer<br>lover of music and bikes</p>
			</div>	

			<nav class="sidebar__nav">	
                {% include nav_items.html %}
			</nav>

			<div class="sidebar__social-container">
                {% for item in site.data.social %}
                <a class="sidebar__social-item" href={{ item.link }}><img src={{ item.img }}></a>
                {% endfor %}				
			</div>
		</aside>
		<div class="main">		
            <div class="main__content">         
                <picture>
                    <source class="main__logo" media="(prefers-color-scheme: dark)" srcset="/assets/img/logo-dark.svg">
                    <img class="main__logo" srcset="/assets/img/logo.svg" alt="site's logo">
                </picture>

                <div class="main__avatar-container">
                    <img src="/assets/img/avatar.png" class="avatar" alt="Avatar">				
                </div>
                
                <nav class="sidebar__nav--mobile">	
                    {% include nav_items.html %}
                </nav>
                {{ content }}
            </div>           
            <p class="copyright">© 2020 Nikita Ermolenko. Some rights reserved.</p>
		</div>
	</body>
</html>
