body {
	font-family: "Montserrat", sans-serif;
	background-color: white;
	margin: 0;
}

/* Sidebar */

.sidebar {
  position: fixed;
  background: #F4F4F4FF;
	height: 100%;
	width: 400px;
}

.sidebar__background {
	position: absolute;
	height: auto;
	width: 100%;
	left: 0px;
	bottom: 0px;
}

/* Sidebar Personal Info */

.sidebar__personal-info {
	position: relative;
	width: 100%;
	top: 60px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.avatar {
	width: 100px;
	height: 100px;
}

.sidebar__name {
	margin-top: 32px;
	margin-bottom: 0px;
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.9);
}

.sidebar__description {
	margin-top: 12px;
	font-size: 1rem;
	line-height: 1.21875rem;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.5);
}

/* Sidebar Navigation */

.sidebar__nav {
	position: absolute;
	text-align: center;
	width: 100%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.sidebar__nav--mobile {
  display: none;
  margin-bottom: 22px;
}

.sidebar__nav-item {
	font-weight: 400;
	text-decoration: none;
	font-size: 1.5625rem;
	line-height: 1.75rem;
	display: block;
	color: #000000;
}

.sidebar__nav-item + .sidebar__nav-item {
	margin-top: 2rem;
}

.sidebar__nav-item:hover,
.sidebar__nav-item:focus {
	color: #e23c2b;
}

.sidebar__nav-item.selected {
	font-weight: 700;
}

/* Sidebar Social */

.sidebar__social-container {
	position: absolute;
	width: 100%;
	bottom: 40px;
	display: flex;
	justify-content: center;
}

.sidebar__social-item {
	height: 24px;
	width: 24px;
}

.sidebar__social-item + .sidebar__social-item {
	padding-left: 16px;
}

.sidebar__social-item:hover {
	opacity: 0.8;
}

.sidebar__social-item img {
	max-width: 100%;
	max-height: 100%;
}

/* Main */

.main {
	margin-left: 400px;
}

.main__logo {
	margin-top: 100px;
	margin-bottom: 20px;
	margin-left: -30px;
}

.main__content {
	max-width: 1000px;
	padding-left: 15%;
	padding-right: 15%;
	margin-left: auto;
	margin-right: auto;
}

.main__avatar-container {
  display: none;
}

/* Article */

.article {
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-right: 32px;
	padding-left: 32px;
}

.article + .article {
	margin-top: 20px;
}

.article-date {
  margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 300;
	font-size: 0.75rem;
	line-height: 0.875rem;
	color: #000000;
}

.article-title {
	margin-top: 16px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.5rem;
	color: #000000;
}

.article-description {
	margin-top: 12px;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #000000;
  opacity: 0.7;
  margin-bottom: 0px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* Media */

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }

  .main {
    margin-left: auto;
  }

  .main__content {
    max-width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main__logo {
    display: none;
  }

  .sidebar__nav--mobile {
    display: flex;
    justify-content: center;
  }

  .sidebar__nav-item {
    font-size: 1rem;
    line-height: 1.21875rem;
  }

  .sidebar__nav-item + .sidebar__nav-item {
    margin-left: 24px;
    margin-top: 0rem;
  }

  .main__avatar-container {
    display: block;
    margin-top: 32px;
    margin-bottom: 25px;
    text-align: center;
  }
}
